<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Morwinyon Project</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3" id="btn-generate-tckn-page">
            <NavLink class="nav-link" href="identity">
                <span class="oi oi-list-rich" aria-hidden="true"></span> TCKN Üret
            </NavLink>
        </div>
         <div class="nav-item px-3" id="btn-generate-iban-page">
            <NavLink class="nav-link" href="ibangenerate">
                <span class="oi oi-list-rich" aria-hidden="true"></span> IBAN Üret
            </NavLink>
        </div>
        <div class="nav-item px-3" id="btn-generate-taxno-page">
            <NavLink class="nav-link" href="tax">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Vergi No Üret
            </NavLink>
        </div>
        <div class="nav-item px-3" id="btn-generate-phone-page">
            <NavLink class="nav-link" href="phonenumber">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Telefon Numarası Üret
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
